html {
    box-sizing:border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
img {
   display: block;
   max-width: 100%;
   height: auto;
}
h2, p {
    margin: 0;
}
.container {
    width: 901px;
    margin: 0 auto;
}
article {
    width: 421px;
}

article{
    display: inline-block;
}
