html {
    box-sizing:border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
img {
   display: block;
   max-width: 100%;
   height: 280px;
   width: 421px;
}
h2, p {
    margin: 0;
}
.container {
    background-color: blue;
    width: 901px;
    margin-left: auto;
    margin-right: auto;
}
article {
    width: 421px;
    display: inline-block;
}
