html {
    box-sizing:border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
img {
    display: block;
}

h2, h3, p, ul{
    margin: 0;
    padding: 0; 
}
.header {
    max-width: 1110px;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 32px;
}
.logo{
    float: left;
}
.logo a{
    display: block;
    text-decoration: none;
    color: #0f0101;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.067;
}
.logo a::first-letter{
    font-weight: bold;
    color: rgb(26, 188, 156);
}
.navigation{
    float: right;
    padding-top: 8px;
}
.elements > li{
    display: inline-block;
    margin-right: 30px;
}
.element:last-child{
    margin-right: 0;
}
.element a:hover{
    color: rgb(26, 188, 156); 
}
.element a{
    display: block;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 0.786;
    color: #0f0101;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.content{
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.box {
    max-width: 760px;
    margin: 0 auto;
}

.slider{
    background-color: rgb(50, 50, 50);
    background-image: linear-gradient(to bottom, rgba(17, 16, 16, 0.521) 0%, rgba(23, 19, 19, 0.521) 100%), url("../img/big.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
}

.slider_content {
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
}
.second_section{
    padding-top: 91px;
    padding-bottom: 100px;
}
.test{
    width: 100%;
    background-color: #e9f0fd;
}
.header1, .sign1{
    font-size: 60px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.367;
}
.header1{
    padding-bottom: 10px;
}
.sign1{
    font-size: 24px;
}
.span{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.arrow{
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 0.11;
    width: 104px;
    height: 104px;
    background-color: #ffffff00;
    bottom: 0;
    border: 0;
}
.arrow:hover{
    background-color: rgba(26, 188, 156, 0.644);
}
.left{
    position: absolute;
}
.right{
    position: absolute;
    right: 0;
}

.item_price div{
    display: inline-block;
}
.item_price{
    font-size: 0;
}
.item{
    background-color: rgb(50, 50, 50);
    width: 200px;
    height: 40px;
}
.price{
    background-color: rgb(140, 140, 140);
    width: 55px;
    height: 40px;
    text-align: center;
}
.buylink{
    padding-left: 15px;
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    font-weight: bold;
    text-indent: 14px;
    text-align: left;
    text-decoration: none;
}
.cost{
    font-size: 18px;
    font-family: "Roboto";
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
}
.store_item:hover .item {
    background-color: rgb(26, 188, 156);
    transition: .3s;
}
.store_item:hover .price {
    background-color: rgb(127, 217, 199);
    transition: .3s;
}
.store_name {
    font-size: 48px;
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
}
.store_name{
    margin-bottom: 92px;
}
.store_name::after{
    display: block;
    content: '';
    background-color: rgb(26, 188, 156);
    width: 164px;
    height: 7px;
    margin: 0 auto;
    margin-top: 32px;
}
.store{
    font-size: 0;
    display: flex;
    justify-content: space-between;
}
.store li{
    list-style-type: none;
}
.store_wrapper > h3{
    text-align: center;
}
.image_wrapper{
    position: relative;
}
.icon{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-style: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 0;
    margin: 4px;
}
.icons{
    position: absolute;
    top: 62px;
    left: 30px;
    opacity: 0;
}
.icons_background{
    background: rgba(0, 0, 0, 0.24) center;
    width: 235px;
    height: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
}
.image_wrapper:hover .icons_background{
    transition: .3s;
    opacity: 1;  
}
.image_wrapper:hover .icons{
    transition: .3s;
    opacity: 1;
}
.icon.cart{
    text-align: right;
    padding-right: 8px;
}
.heart{
    background: url(../img/4.png) no-repeat center;
}
.heart:hover{
    background-color: rgb(26, 188, 156);
    transition: .3s;
}
.arrows{
    background: url(../img/3.png) no-repeat center;
}
.arrows:hover{
    background-color: rgb(26, 188, 156);
    transition: .3s;
}
.clock{
    background: url(../img/2.png) no-repeat center;
}
.clock:hover{
    background-color: rgb(26, 188, 156);
    transition: .3s;
}
.cart{
    background: url(../img/1.png) no-repeat left;
    background-position-x: 12px;
    width: 166px;
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: #323232;
}
.cart:hover{
    background-color: rgb(26, 188, 156);
    transition: .3s;
}
.footer{
    height: 88px;
    width: 100%;
    background-color: rgb(50, 50, 50);
    text-align: center;
}
.footer a{
    text-decoration: none;
}

.rights{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(254, 254, 254);
    line-height: 1.75;
    padding-top: 30px;
}
.designed{
    color: rgb(26, 188, 156); 
}
